<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<header>{% block header %}{% if not Auth_check %}<a href="/login">Login</a>{% else %}<a href="/upload">Upload</a>{% endif %}{% endblock %}</header>
<section>{% block content %}{% endblock %}</section>
<footer>
    {% block footer %}
        &copy; Copyright 2013 by <a href="http://resume.github.io/?stexaz">Andrius Petrauskis</a>.
    {% endblock %}
</footer>
</body>
</html>